#my_name {
    color: purple;
}

#my-story {
    color: rgb(36, 169, 187);
}
body{
    background-color: rgb(180, 154, 162);
}
h1{
    color: brown;
}
p{
    color: blueviolet;
}
h3{
    color: darkolivegreen;
}